<!DOCTYPE html>
<html>
<head>
  <title>All the Headlines</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="/js/jquery-3.3.1.min.js"></script>
  <script src="/js/script.js"></script>
</head>
<body>
<h1>The most recent sports headlines</h1>
<h2>{{time}}</h2>

<ul>
                <!-- iterate through all the headlines here, displaying the headline as a link
               to the article. -->
                {{#allNewsData}}
                <div> 
                    <p>
                      <ul>
                      <a href={{{url}}}>{{{title}}}</a><br>
                      <form method="post" class='add'>
                      <button type='submit' >Add to my List</button>
                      <input type ='hidden' name='url' value="{{url}}">
                      <input type ='hidden' name='title' value="{{title}}">
                    </form>
                      </ul>
                    </p>
                </div>
                {{/allNewsData}}
            </ul>
        <a href="/allnews/saved" class="tabs">My List</a>
</body>
</html>