body {
  background-color: lightgreen;
  border: 20px darkgreen dotted;
}

h1 {
  text-align: center;
  color: red;
  font-size: 50px;
  text-decoration-line: underline;
}
h2 {
  font-size: 20px;
  font-family: bold;
}
.tabs {
  font-size: 20;
  border: 2px red solid;
  background-color: aqua;
  border-radius: 10px;
  font-family: bold;
}
button {
  font-size: 18px;
  background-color: red;
  font-family: bold;
  border: 2px dotted black;
  border-radius: 10px;
}
a {
  font-size: 25px;
  text-decoration: none;
}

